@charset "ISO-8859-1";
body{
	background-image:url("dubai.jpg");
	background-repeat:no-repeat;
	background-size:1500px 650px;
	font:bold;
}

h1{
	position:absolute;
	left:40%;
}
a{
	color:purple;
	font-family:"Brush Script MT",cursive;
	font-weight:bold;
	font-size:20px;	
}
#a1{
	position:absolute;
	top:44%;
	left:32%;
	font-family:"Brush Script MT",cursive;
	color:olivedrab;
	font-size:20px;	
}
p{
	font-family:"Brush Script MT",cursive;
	position:absolute;
	left:5%;
	top:15%;
}
.wrapper{
	height:570px;
	width:900px;
	background:inherit;
	border-radius:15px;
	border-color:black;
	border:10px  rgba(255,255,255,0.2);
	position:absolute;
	left:15%;
	top:5%;
	overflow:hidden;
}
#b{
	position:absolute;
	left:90%;
	top:85%;
	background-color:gold;
	border-radius:30%;
	padding:19px;
	font-family:"Brush Script MT",cursive;
	border-style:dotted solid black;
	border-width:2px;
}
#e{
	background-color:gold;
	padding:15px;
	border-radius:5px;
	position:absolute;
	top:85%;
	padding:19px;
	border-radius:30%;
	font-family:"Brush Script MT",cursive;
}	
.box{
	position:absolute;
	top:150px;
	left:35%;
	opacity:1;
	margin:2px;
	padding:20px;
}

